[submodule "doc"]
	path = doc
	url = git@github.com:bdmihai/pico-doc
[submodule "qbs/modules/rp"]
	path = qbs/modules/rp
	url = git@github.com:bdmihai/pico-qbs
[submodule "tools"]
	path = tools
	url = git@github.com:bdmihai/pico-tools
[submodule "source/boot"]
	path = source/boot
	url = git@github.com:bdmihai/pico-boot
[submodule "source/rp2040"]
	path = source/rp2040
	url = git@github.com:bdmihai/pico-rp2040
[submodule "source/sdk"]
	path = source/sdk
	url = git@github.com:bdmihai/pico-sdk
